apiVersion: apps/v1
kind: Deployment
metadata:
  name: db-deployment
  labels:
    app: postgresql
    tier: database

spec:
  replicas: 1
  selector:
    matchLabels:      
      app: postgresql
      tier: database
    
  template:
    metadata:
      labels:        
        app: postgresql
        tier: database
    spec:
      containers:
        - name: postgresql-container
          image: postgres:15-alpine
          env:
            - name: PGDATA
              value: /var/lib/postgresql/data/pgdata
          envFrom:
            - secretRef:
                name: db-environment
          volumeMounts:
            - mountPath: /var/lib/postgresql/data
              name: pgsql-pv
          ports:
            - containerPort: 5432
      volumes:
        - name: pgsql-pv
          persistentVolumeClaim:
            claimName: pgsql-pvc