apiVersion: v1
kind: ConfigMap
metadata:
  name: rabbitmq-config
data:
  rabbitmq.conf: |
    load_definitions = /etc/rabbitmq/definitions.json
    management.load_definitions = /etc/rabbitmq/definitions.json
