name: "api-cd-workflow"

on: 
  push:
    branches:
      - main
    paths:
      - 'api/**'
 

jobs:
  semantic-release:
    runs-on: ubuntu-latest
    permissions:
        contents: write
        issues: write
        pull-requests: write
    steps:
      - name: checkout repo
        uses: actions/checkout@v6
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: setup node
        uses: actions/setup-node@v6
        with:
          node-version: 20
      - name: Install dependencies
        working-directory: api
        run: npm i
        
      - name: Run Semantic Release
        working-directory: api
        id: semantic
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release

  push-to-registry:
    runs-on: ubuntu-latest
    environment: Dockerhub
    needs: semantic-release
    steps:
      - name: Checkout rpeo
        uses: actions/checkout@v6
      
      - name: Get latest release version
        id: version
        run: |
          VERSION=$(gh api repos/${{ github.repository }}/releases --jq '.[0].tag_name')
          echo "version=$VERSION" >> $GITHUB_OUTPUT
        env:
          GH_TOKEN: ${{ github.token }}

      - name: Login dockerhub
        uses: docker/login-action@v3
        with:
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_PW }}
      
      - name: Build and push to Dockerhub
        uses: docker/build-push-action@3b5e8027fcad23fda98b2e3ac259d8d67585f671
        with:
          context: ./api
          file: ./api/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/ml-inference-api:${{ steps.version.outputs.version }}