name: "worker-pipeline"

on:
  push:
    branches:
      - main
    paths:
      - 'worker/**'

jobs:
  push-to-registry:
    runs-on: ubuntu-latest
    environment: Dockerhub    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4      
      
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PW }}
      
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: ./worker
          file: ./worker/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/ml-inference-worker:latest
